.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.section--first {
  background-color: #464647;
  padding: 0 40px;
  min-height: 101vh;
}

.section--second {
  background-color: #f9f8f7;
}

.omega__logo {
  width: 100%;
}